absl-py
altair
altgraph
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
audioread
Babel
beautifulsoup4
bleach
blinker
cachetools
catkin-pkg
certifi
cffi
charset-normalizer
click
colorama
comm
comtypes
contextlib2
contourpy
cvlib
cycler
Cython
cython_bbox
debugpy
decorator
defusedxml
distro
Django
dnspython
docutils
et_xmlfile
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-pasta
greenlet
grpcio
h11
h5py
httpcore
httpx
idna
imageio
imutils
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
Kivy
kivymd
kiwisolver
lap
lazy_loader
libclang
librosa
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
motmetrics
MouseInfo
mpmath
msgpack
mysql-connector-python
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
object-detection
openai
opencv-python
opencv-python-headless
openpyxl
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pefile
pillow
platformdirs
plotly
pooch
progressbar
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
PyAudio
PyAutoGUI
pycparser
pydantic
pydantic_core
pydeck
pydub
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
pymongo
PyMsgBox
PyMySQL
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
python-json-logger
pyttsx3
pytweening
pytz
pywhatkit
pywin32-ctypes
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shiboken6
six
smmap
sniffio
soundfile
soupsieve
soxr
SpeechRecognition
SQLAlchemy
sqlparse
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
terminado
textblob
tf-slim
thop
threadpoolctl
tinycss2
tk
toml
torch
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
ultralytics
ultralytics-thop
uri-template
urllib3
vaderSentiment
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wikipedia
Wikipedia-API
wrapt
xmltodict
